@import '../../exports.module';

.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  h2 {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 1.6rem;
  }

  span {
    max-width: 56.1rem;

    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.9rem;
    word-break: keep-all;

    margin: 0 0 1.6rem;
  }

  &__action {
    height: 3.2rem;
    max-width: 44.4rem;
    width: 100%;

    display: flex;
    justify-content: space-between;

    filter: drop-shadow(0.2rem 0.2rem 0.6rem var(--light-shadow));

    input {
      height: 100%;
      max-width: 35.1rem;
      width: 100%;

      padding: 0 1.6rem;

      background: var(--background-color);

      outline: 0;
      box-sizing: border-box;
      border: 0.1rem solid var(--secondary-color);
      border-radius: 0.4rem;
    }

    button {
      height: 100%;
      width: 8.6rem;

      margin: 0 0 0 0.7rem;
      padding: 0.4rem 3.1rem;
      gap: 1rem;

      width: 8.6rem;
      height: 3.2rem;

      background: var(--darker-primary);
      color: var(--background-color);

      border: none;
      border-radius: 0.4rem;

      &:active {
        background: var(--dark-primary);
      }
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.7rem 0 14rem;
}
