:root {
  --primary-color: #2388ec;
  --dark-primary: #006bba;
  --darker-primary: #0060bf;
  --secondary-color: #007dfa;
  --light-secondary: #96c8fa;
  --tertiary-color: #30adca;

  --active-link-color: #0082f3;

  --primary-grey: #6e7e9d;
  --light-grey: #e6ebf2;
  --lighter-grey: #c8d5e7;

  --warning: #ffaa00;
  --error: #ef5555;

  --background-color: #ffffff;

  --light-shadow: rgba(0, 0, 0, 0.25);
  --lighter-shadow: rgba(0, 0, 0, 0.16);

  --hr-gradient: linear-gradient(270deg, #34d7ed 2%, #ffffff 100%);
}
